<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="pwa-user">
  <template>
    <style>
      :host {
        display: block;
        justify-content: center;
      }

      .card-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 10px;
      }

      .user-icon {
        margin-right: 16px;
      }

      .user-info p {
        margin: 0;
        text-align: left;
      }

      .user-info p:nth-child(2) {
        font-size: 12px;
        color: grey;
      }

      iron-icon {
        --iron-icon-width: 36px;
        --iron-icon-height: 36px;
        --iron-icon-fill-color: grey;
      }
    </style>


    <paper-card>
      <div class="card-content">
        <div class="user-icon">
          <iron-icon icon="account-circle"></iron-icon>
        </div>
        <div class="user-info">
          <p>[[userName]]</p>
          <p>[[userEmail]]</p>
        </div>
      </div>
    </paper-card>
  </template>

  <script>
    class PWAUser extends Polymer.Element {
      static get is() {
        return 'pwa-user'
      }

      static get properties() {
        return {
          userName: String,
          userEmail: String
        };
      }
    }

    window.customElements.define(PWAUser.is, PWAUser);
  </script>
</dom-module>