<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="pwa-app">
  <template>
    <style>
      :host {
        --app-primary-color: #00BCD4;
        display: block;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color); 
        z-index: 1;
      }

      iron-pages {
        width: 100%;
        text-align: center;
        z-index: 2;
      }

      app-drawer {
        z-index: 3;
      }

      app-drawer > a {
        width: 100%;
        text-decoration: none;
      }
      
      a paper-button,
      a:hover paper-button,
      a:link paper-button,
      a:active paper-button,
      a:visited paper-button {
        width: 100%;
        color: #000;
        text-transform: none;
        justify-content: var(--layout-start-justified);
      }

      paper-button > iron-icon {
        margin-right: 18px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}">
    </app-route>

    <!-- drawer -->
    <app-drawer id="drawer" opened="{{drawerOpened}}" swipe-open tabindex="0">
      <a name="greeting" href="/greeting">
        <paper-button><iron-icon icon="check"></iron-icon>Greeting</paper-button>
      </a>
      <a name="users" href="/users">
        <paper-button><iron-icon icon="social:people"></iron-icon>Users</paper-button>
      </a>
    </app-drawer>

    <!-- header -->
    <app-header role="navigation" id="header">
      <app-toolbar>
        <paper-icon-button icon="menu" on-click="_toggleDrawer" aria-label="Menu"></paper-icon-button>
      </app-toolbar>
    </app-header>

    <!-- contents -->
    <iron-pages role="main" selected="[[page]]" attr-for-selected="name" selected-attribute="visible">
      <pwa-greeting name="greeting"></pwa-greeting>
      <pwa-users name="users"></pwa-users>
    </iron-pages>
  </template>

  <script>
    class PWAApplication extends Polymer.Element {
      static get is() {
        return 'pwa-app'
      }

      static get observers() {
        return [
          '_pageChanged(routeData.page)'
        ];
      }

      _toggleDrawer() {
        this.drawerOpened = !this.drawerOpened;
      }

      _pageChanged(page) {
        if (page === undefined) {
          return;
        }

        this.page = page || 'greeting';

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }

        const pageURL = this.resolveUrl(`pwa-${this.page}.html`);
        Polymer.importHref(pageURL, null, null, true);
      }
    }

    window.customElements.define(PWAApplication.is, PWAApplication);
  </script>
</dom-module>
